<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.min.css">
  </head>
  <body>
    <form>
        <span>Tên</span> 
        <br>
        <input placeholder="Mời nhập họ tên" ng-model="inputValue.ten" />
        <br>
        <span>Tuổi</span>
        <br>
        <input placeholder="Mời nhập tuổi" type="number" ng-model="inputValue.tuoi" />
        <br>
        <a class="btn btn-primary" href="lab1.html" role="button">Hủy</a>
        <a class="btn btn-primary" role="button">Thêm</a>
      </form>
      <script src="./libs/angular.min.js"></script>
    </form>
  </body>
</html>